.git
.gitignore
data
client/*
!client/windows/
client/windows/*
!client/windows/ParentGate.ps1
!client/windows/ShowInternetNotice.ps1
!client/windows/ApplyUpdate.ps1
!client/windows/update.json
tests
*.log
